<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MembreServlet</servlet-name>
        <servlet-class>home.controllers.MembreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MediaServlet</servlet-name>
        <servlet-class>home.controllers.MediaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PanierServlet</servlet-name>
        <servlet-class>home.controllers.PanierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionServlet</servlet-name>
        <servlet-class>home.controllers.SessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>home.controllers.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonPanierServlet</servlet-name>
        <servlet-class>home.controllers.MonPanierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpruntServlet</servlet-name>
        <servlet-class>home.controllers.EmpruntServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RendreMediaServlet</servlet-name>
        <servlet-class>home.controllers.RendreMediaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterMediaServlet</servlet-name>
        <servlet-class>home.controllers.AjouterMediaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>home.controllers.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierMediaServlet</servlet-name>
        <servlet-class>home.controllers.ModifierMediaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>home.controllers.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierMembreServlet</servlet-name>
        <servlet-class>home.controllers.ModifierMembreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParamServlet</servlet-name>
        <servlet-class>home.controllers.ParamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierParamServlet</servlet-name>
        <servlet-class>home.controllers.ModifierParamServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MembreServlet</servlet-name>
        <url-pattern>/MembreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MediaServlet</servlet-name>
        <url-pattern>/MediaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PanierServlet</servlet-name>
        <url-pattern>/PanierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionServlet</servlet-name>
        <url-pattern>/SessionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonPanierServlet</servlet-name>
        <url-pattern>/MonPanierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpruntServlet</servlet-name>
        <url-pattern>/EmpruntServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RendreMediaServlet</servlet-name>
        <url-pattern>/RendreMediaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterMediaServlet</servlet-name>
        <url-pattern>/AjouterMediaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierMediaServlet</servlet-name>
        <url-pattern>/ModifierMediaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierMembreServlet</servlet-name>
        <url-pattern>/ModifierMembreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParamServlet</servlet-name>
        <url-pattern>/ParamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierParamServlet</servlet-name>
        <url-pattern>/ModifierParamServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>signin.jsp</welcome-file>
    </welcome-file-list>
</web-app>
